.container {
    margin-left: 70px;
    margin-right: 50px;
}

#tables {
    background-color: red;
    font-weight: bold;
    border-color: red;
}

#home {
    background-color: transparent;
    border-color: transparent;
}

#makeres {
    background-color: blue;
    font-weight: bold;
    border-color: blue;
}